*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#nav-bar{
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    ;
}

#nav-left{
    outline: 3px solid white;
    height: 100px;
    width: 400px;
}
#sign-out-button{
    background-color: blue;
    padding: 10px 20px;
    font-size: 1.3rem;
    color: white;
    
}

/* list-style-type: none */