*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

#main{  
    margin-left: 200px;
    margin-right: 200px;
}

#nav-bar{
    background-color: black;
    
}

#nav{
    font-size: 3rem;
    color: white;
    padding: 15px 15px;

}


#title{
    font-size: 3rem;
    text-align: center;   
}
#layout{
    display: flex;
    align-items: top;
    justify-content: space-between; 
}

#pagel{
    border: 5px solid black;
    text-align: center;
    height: 250px;
}

#pagel>img{
    width: 100px;
    border-radius: 50%;
    border-color: 3px solid black;
    padding: 15px 15px;
}
#pagel>a{
    font-size: 2rem;
    padding: 20px 15px;

    
}
#pagel>p{
    font-size: 2rem;
    margin: 20px 15px;
}

.outline{
    border: 5px solid black;
    padding: 20px 20px;
    margin-bottom: 20px;
}

#top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.count{
    font-size: 1.5rem;
}

.likes{
    font-size: 2rem;
}

.button{
    background-color: burlywood;
    border: 5px solid black;
    padding: 5px 10px;
    font-size: 1.5rem;
    margin-right: 20px;
}
#middle{
    display: flex;
    align-items: center;
    justify-content: space-between;;
}

#bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#message{
    font-size: 1.5rem;
    ;
}
