*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    

body{
    background-color: lightseagreen;
    : flex;
}

.container{
    height: 600px;
    width: 1200px;
    background-color: white;

}

